<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>StanceNation - Archives</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="favicon" href="https://image.ibb.co/b8w7r8/logo_preview_4a613baa_64db_4063_9dfc_f1a90ee1b70d.jpg">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- summernote css/js -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
    <!-- Font links -->
    <link href="https://fonts.googleapis.com/css?family=Poppins|Lora" rel="stylesheet">
</head>
<body>

    <!-- This is the main container -->
    <div id="container">

        <!-- This is the home title section -->
        <section>
            <div id="home_title">
                <!-- This is the main title -->
                <a href="/"><h4>ST<span class="header_a">Λ</span>NCE | N<span class="header_a">Λ</span>TION</h4></a>
                <!-- This is the slogan of the blog -->
                <p>The <span class="header_a">HOME</span> of <span class="header_a">STANCE</span> Cars</p>
            </div>
        </section>

        <!-- This is the navbar -->
        <nav>
            <div id="navbar">
                <!-- This is the navbar links -->
                <div id="nav_links">
                    <a href="/">Home</a>
                    <!-- If user is logged in, show New Post button -->
                    <% if (user) { %>
                        <a href="/new_post">New Post</a>
                    <% } %>
                    <a href="/archives" class="selected">Archives</a>
                    <!-- If user is logged in, show logout button -->
                    <% if (user) { %>
                        <!-- Logout button -->
                        <a href="/users/logout" class="login-link">Logout</a>
                        <!-- Else if user is not logged in, show login and register button -->
                    <% } else { %>
                        <!-- Register button -->
                        <a href="/users/register" class="register-link">Register</a>
                        <!-- Login button -->
                        <a href="/users/login" class="login-link">Login</a>
                    <% } %>
                </div>
            </div>
        </nav>

        <!-- If user is logged show Add New Post button -->
        <% if (user) { %>
            <!-- New Post button -->
            <div id="new_post_content">
                <a href="/new_post"><button id="btn_new-post">Add New Post</button></a>
            </div>
        <% } %>

        <br>
        
        <!-- This is the Message -->
        <%- messages('message', locals) %>

        <!-- If there are posts, Show Posts -->
        <% if (posts.length != 0) { %>
            <% for(let i = 0; i < posts.length; i++) { %>
            <section>
                <!-- This the content container -->
                <div id="content_container">
                    <!-- This is the content wrapper -->
                    <div class="content-wrapper">
                        <div id="blog_post_container">
                            <div id="blog_post_head">
                                <!-- This is the blog post title -->
                                <a href="/post/<%= posts[i].id %>"><h3><%= posts[i].title %></h3></a>
                            </div>
                            <div id="blog_post_content-archive">
                                <div id="blog_body">
                                    <h5 id="body_text">
                                        <!-- This is the blog post body -->
                                        <!-- if body length is greater than 650, make the length 650 and add ellipsis -->
                                        <% if (posts[i].body.length > 650){ %>
                                            <%- posts[i].body.substring(0, 650 - 1) + ' ...' %>
                                            <!-- Else just show the body without ellipsis -->
                                        <% } else { %>
                                            <%- posts[i].body.substring(0, 650)%>
                                        <% } %>
                                    </h5>
                                    <br>
                                    <!-- This is the read more button -->
                                    <a href="/post/<%= posts[i].id %>"><button class="readmore_btn">Read More</button></a>
                                </div>
                                <div id="blog_footer">
                                    <h4>Posted on : <%= posts[i].time %></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <% } %>
        <% } %>

        <!-- This is the footer -->
        <footer>
            <div id="footer" class="home-footer">
                <div class="content-wrapper">
                    Copyright &copy; 2018 &nbsp; | &nbsp;<span class="header_a">Yaseen Davids</span>
                </div>
            </div>
        </footer>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
    <script src="/javascripts/main.js"></script>

</body>
</html>